.Project {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 15rem 0;
  .project-title {
    z-index: 10;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .slider-container {
    width: 70%;
    height: 400px;
    padding: 3rem 0;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    .slider {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      transition: transform .3s ease-out;
      will-change: transform;
      box-sizing: border-box;
      overflow: visible;
      .slide {
        width: calc(100% / 3);
        height: 100%;
        margin-right: 30px;
        flex-shrink: 0;
        overflow: visible;
        background-color: #000;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:last-child {margin-right: 0;}
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
        }
        h3 {
          margin: 0;
          padding: 20px;
          font-size: 1.5rem;
          background: rgba(0, 0, 0, .6);
          color: #fff;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}